<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BGTaskSchedulerPermittedIdentifiers</key>
	<array/>
	<key>GEMINI_API_KEY</key>
	<string>AIzaSyDgbnOFhQ8yF8uwE8NBqstMzFsIt2u1TRE</string>
	<key>GOOGLE_SEARCH_API_KEY</key>
	<string>AIzaSyB-gjAd8sVMEqrmKvDgWd_s5GEWXJGBr_Q</string>
	<key>GOOGLE_SEARCH_ENGINE_ID</key>
	<string>d411db1fbe9ef41d4</string>
	<key>NSAppTransportSecurity</key>
	<dict/>
	<key>UIBackgroundModes</key>
	<array>
		<string>fetch</string>
		<string>processing</string>
	</array>
	<key>CFBundleIdentifier</key>
	<string>io.github.HumphreyYeung.MenuReader</string>
</dict>
</plist>
